
<h1 align=center><font size = 5>SQL Database with Python</font></h1>

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL


##### Total number of crimes recorded in the CRIME table.

In [ ]:
%%sql 

SELECT count(*) AS Total_CRIMES_COUNT FROM CHICAGO_CRIME_DATA;


##### List community areas with per capita income less than 11000.

In [ ]:
%%sql

SELECT COMMUNITY_AREA_NAME 
FROM CENSUS_DATA 
WHERE PER_CAPITA_INCOME < 11000;


##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [ ]:
%%sql

SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA 
WHERE DESCRIPTION LIKE '%MINOR%';


##### List all kidnapping crimes involving a child?

In [ ]:
%%sql

SELECT CM.DATE,CM.CASE_NUMBER,CM.PRIMARY_TYPE,CM.DESCRIPTION
FROM CHICAGO_CRIME_DATA CM
WHERE CM.PRIMARY_TYPE = 'KIDNAPPING' AND
CM.DESCRIPTION LIKE '%CHILD%';


##### What kinds of crimes were recorded at schools?

In [ ]:
%%sql

SELECT DISTINCT(PRIMARY_TYPE) 
FROM CHICAGO_CRIME_DATA 
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';


##### List the average safety score for all types of schools.

In [ ]:
%%sql

SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS Average_Safety_Score
FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Elementary, Middle, or High School";


##### List 5 community areas with highest % of households below poverty line

In [ ]:
%%sql

SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CENSUS_DATA 
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5


##### Which community area is most crime prone?

In [ ]:
%%sql

SELECT CD.COMMUNITY_AREA_NAME,
COUNT(CD.COMMUNITY_AREA_NAME) AS Crime_Frequency
FROM CENSUS_DATA CD, CHICAGO_CRIME_DATA CCD
WHERE CD.COMMUNITY_AREA_NUMBER = CCD.COMMUNITY_AREA_NUMBER
GROUP BY CD.COMMUNITY_AREA_NAME
ORDER BY COUNT(CD.COMMUNITY_AREA_NAME) DESC
LIMIT 1;


##### Use a sub-query to find the name of the community area with highest hardship index

In [ ]:
%%sql

SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX)
                        FROM CENSUS_DATA);


##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER = (
    SELECT CCD.COMMUNITY_AREA_NUMBER
    FROM CHICAGO_CRIME_DATA AS CCD
    GROUP BY CCD.COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)

## Author

<h4> Vidhiwar Singh Rathour </h4>